[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua.git
[submodule "submodules/pdcurses"]
	path = submodules/pdcurses
	url = https://github.com/wmcbrine/PDCurses.git
[submodule "submodules/pdcursesmod"]
	path = submodules/pdcursesmod
	url = https://github.com/Bill-Gray/PDCursesMod.git
[submodule "c_core/nethack_en"]
	path = c_core/nethack_en
	url = https://github.com/NetHack/NetHack.git
