<?xml version="1.0" encoding="utf-8"?>
<!-- Modified by NetHackJP contributor @satokiyon; latest change date: 2026-06-30. -->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto">
	<uses-sdk />
    <uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:label="NetHackJP"
		android:icon="@drawable/icon"
		android:largeHeap="true"
		android:theme="@android:style/Theme"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_rules"
		android:dataExtractionRules="@xml/data_extraction_rules">
		<activity
			android:name="com.tbd.forkfront.ForkFront"
			android:enableOnBackInvokedCallback="false"
			android:exported="true"
			android:label="NetHackJP"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
			android:launchMode="singleTask"
			android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|fontScale">
			<!-- Prevent activity from restarting when configuration changes -->
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN"/>
				<category
					android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.tbd.forkfront.Settings"
			android:label="NetHackJP Settings">
		</activity>
	</application>
</manifest>
